name: Terrafrom Infra Deployment in Dev AWS account

on: 
  workflow_dispatch:
    inputs:
      environment:
      description: Deploy to Dev
      required: true
      default: Dev


jobs:
  deploy-dev:
    name: Deploy to Dev 
    permissions: 
       package: write
       contents: read
       id-token: write

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Airflow-infra-terraform         

    steps:
     - name: checkout repository
       uses: action/chekout@v2

     - name: Configure aws credentials
       uses: aws-actions/Configure-aws-credentials@v3
       with: 
         role-to-assume: arn:aws:iam::111710313191:role/upd-repo-oidc
         role-session-name: defalt
         aws-region: us-east-1

     - name: Install Terraform
       uses: harshicorp/terraform@v2
       with: 
         terraform_version: 1.5.6

     - name: Terrafrom init
       run: |
         terraform init   

     - name: Terrafrom plan
       run: |
         terraform plan 

     - name: Terrafrom apply
       run: |
         terraform apply --auto-approve     
